#pages-orphanages {
  width: 100%;
  height: 100%;

  display: flex;
}

aside {
  width: clamp(24rem, 25vw, 44rem);
  /* clamp funciona com o minimo de tamanho, o ideal e o máximo de tamanho que vc quer  */

  background: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);
  padding: clamp(3rem, 5vw, 8rem);
  /* clamp funciona com o minimo de tamanho, o ideal e o máximo de tamanho que vc quer  */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside h2 {
  margin-top: 6.4rem;
  font: 800 clamp(2rem, 5vw, 3.6rem) / 1.1 "Nunito", sans-serif;
  /* clamp funciona com o minimo de tamanho, o ideal e o máximo de tamanho que vc quer  */
}

aside p {
  margin-top: 2.4rem;
  font: 1.6rem/1.1 "Nunito", sans-serif;
}
asise footer p {
  margin-top: 0.8rem;
}

a.create-orphanage {
  /* Posição fixa do botão adicionar  */
  position: absolute;
  right: 4rem;
  bottom: 4rem;

  

  background: #15c6d3;

  /* Bordas arredondadas  */
  border: 0;
  border-radius: 2rem;

  z-index: 10;

  /* Tamanho do botão */
  height: 6.4rem;
  width: 6.4rem;

  /* alinhamento do botão  */
  display: flex;
  justify-content: center;
  align-items: center;

  


  /* Transição suave do hover */
  transition: background-color 0.2s;
}

a.create-orphanage:hover {
  background: #17d6eb;
}

.animation-right {
  animation-name: right;
  animation-duration: 900ms;
}


#mapid {
  width: 100%;
  height: 100%;

  animation-delay: 300ms;
  
  
}

/* estilo do popup do mapa */
.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142, 166, 0.16);
  border-radius: 20px;
}
.leaflet-popup-content {
  color: #0089a5;
  font: 600 2rem/1 'Nunito', sans-serif;

  z-index: 1 ;
  
  margin: 0.2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaflet-popup-content a {
  width: 10rem;
  height: 5rem;
  background: #15c3d6;
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.5s;
}
.leaflet-popup-content a:hover {
  background: #17d6eb;
}

.leaflet-popup-tip {
    display:none;
}

.leaflet-container {
   z-index: 1;
}

